header {
    background-color: #6680a1;
    padding: 15px 25px 15px 25px;
}

header .go-back-arrow {
    border-radius: 50%;
    background-color: black;
    width: 30px;
    height: 30px;
    display: flex;
    display: block;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

header .go-back-arrow span {
    width: 20px;
    height: 20px;
}